@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Corinthia:wght@700&family=Poor+Story&family=Shadows+Into+Light&display=swap');
body{
    margin: 0px;
}
a{
    color: #A3E4D7;
}
.earth{
    font-family: "Comic Sans MS";
    background-color: black;
    color: #A3E4D7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.plants{
    font-family: 'Concert One', cursive;
    font-size: 25px;
    background-color: black;
    color: rgb(81, 202, 107);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 215px;
}
.Bg{
    font-family: 'Poor Story', cursive;
    background-color:white;
    width:100%;
    color: black;
    font-size: 25px;
}
.submit{
    font-family: 'Poor Story', cursive;
    font-size: 20px;
    width:100px;
    height:30px;
    border-radius:25px;
    background-color: rgb(81, 202, 107);;
    color: black;
}
#flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cpr{
    font-family: "Comic Sans MS";
    background-color: black;
    color: #A3E4D7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}